.showcase{
    background-color: #2F1893;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 70px 10px;
}
.showcase .title{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 830px;
}
.showcase .title div{
    border: 1px solid #c2c2c254;
    font-weight:lighter;
    padding: 5px 10px;
    width:130px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
}
.showcase .title div:hover{
    cursor: pointer;
    background-color: #c2c2c254;
}
.showcase .works{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}
.showcase .works .work{
    height: 290px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.showcase .works .work .image{
    width:  100%;
    height: 200px;
}
.showcase .works .work .image img{
    height: 100%;
    width: 100%;
}
.showcase .works .work .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.showcase .works .work .description p:first-child{
    font-size: x-small;

}
@media only screen and (max-width:950px){
    .showcase .works{
        grid-template-columns: auto;
        transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .showcase .title{
        width: 400px;
        transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}
@media only screen and (max-width:500px){
    .showcase{
        font-size: x-small;
    }
    
    .showcase .title{
        width: 240px;
        transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .showcase .title div{
        font-size: xx-small;
    }
    .showcase .works .work{
        height: 170px;
        width: 200px;
    }
    .showcase .works .work .image{
        height: 100px;
    }
    .showcase .works .work .description p:first-child{
        font-size: xx-small;
    }
}